.button {
    font: inherit;
    font-weight: bold;
    border: 1px solid #884a11;
    background: #5f3600;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 6px;
    margin: 1rem 1rem;
    width: 10rem;
  }
  
  .button:hover,
  .button:active {
    background: #741188;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }